:root {
  --spacing-h: 1rem;
  --spacing-v: 1rem;

  --colour-background: #DDD;
  --colour-text: #333;
  --colour-background-article: #FFF;
  --colour-background-brand: #C82E14;
  --colour-text-brand: #FFF;

  --font-headers: "Titillium Web", arial, sans-serif;
  --font-body: Merriweather, serif;
}
