.c-article {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--spacing-v) var(--spacing-h);
}

.c-article__header {
  border-bottom: 1px solid #EEE;
  text-align: center;
}

.c-article__header-title {
  margin: calc(1.5 * var(--spacing-v))  calc(1.5 * var(--spacing-h));
  font-family: var(--font-headers);
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

.c-article__byline {
  margin-top: var(--spacing-v);
  font-size: 0.9rem;
}
