.c-header {
  background-color: var(--colour-background-brand);
  color: var(--colour-text-brand);
}

.c-header__title {
  margin: 0;
  padding: var(--spacing-v) var(--spacing-h);
  font-family: var(--font-headers);
}

.c-header__link {
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

.c-header__link:hover {
  box-shadow: 0 2px hsla(0, 0%, 100%, 0.6), 0 -2px hsla(0, 0%, 100%, 0.6);
}

.c-header__link--external {
  margin-right: var(--spacing-h);
  padding: calc(var(--spacing-v) * 0.5) calc(var(--spacing-h) * 0.5);
}

@media (max-width: 400px) {
  .c-header__link {
    display: none;
  }
}
