.c-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}

.c-navigation__item {
  display: block;
  margin: 0 1rem;
}

.c-navigation__link {
  display: block;
  padding: .5rem 1rem;
  background-color: hsla(0, 0%, 100%, 0.3);
  color: currentColor;
  text-decoration: none;
}

.c-navigation__link:hover {
  background-color: hsla(0, 0%, 100%, 0.6);
}
