.c-post__header {
  padding: calc(1.5 * var(--spacing-v))  calc(1.5 * var(--spacing-h));
}

.c-post__header--article {
  border-bottom: 1px solid var(--colour-border);
  text-align: center;
}

.c-post__header-title {
  margin: 0;
  font-family: var(--font-headers);
  font-size: 3rem;
  line-height: 1;
}

.c-post__byline {
  margin-top: var(--spacing-v);
  font-size: 0.9rem;
}

.c-post__series {
  display: inline-block;
  padding: calc(0.5 * var(--spacing-v)) var(--spacing-h);
  border-left: 5px solid var(--colour-subbrand-default);
  background-color: var(--colour-background-tile);
}

.c-post__series--webdev { border-left-color: var(--colour-subbrand-webdev); }
.c-post__series--uoe { border-left-color: var(--colour-subbrand-uoe); }
.c-post__series--christmas-2013 { border-left-color: var(--colour-subbrand-christmas); }
.c-post__series--christmas-2014 { border-left-color: var(--colour-subbrand-christmas); }

.c-post__body {
  padding: calc(1.5 * var(--spacing-v)) calc(1.5 * var(--spacing-h));
  font-size: 1.2rem;
}

.c-post__body--article {
  max-width: 800px;
  margin: 0 auto;
}
