.c-post__header {
  padding: calc(1.5 * var(--spacing-v))  calc(1.5 * var(--spacing-h));
}

.c-post__header--article {
  border-bottom: 1px solid #EEE;
  text-align: center;
}

.c-post__header-title {
  margin: 0;
  font-family: var(--font-headers);
  font-size: 3rem;
  line-height: 1;
}

.c-post__byline {
  margin-top: var(--spacing-v);
  font-size: 0.9rem;
}

.c-post__body {
  padding: calc(1.5 * var(--spacing-v)) calc(1.5 * var(--spacing-h));
  font-size: 1.2rem;
}

.c-post__body--article {
  max-width: 800px;
  margin: 0 auto;
}
