.c-tile {
  display: flex;
  min-width: 250px;
  margin: var(--spacing-v) var(--spacing-h);
  padding: var(--spacing-v) var(--spacing-h);
  border-top: 5px solid var(--colour-subbrand-default);
  background-color: var(--colour-background-tile);
  flex-direction: column;
}

.c-tile--webdev { border-top-color: var(--colour-subbrand-webdev); }
.c-tile--uoe { border-top-color: var(--colour-subbrand-uoe); }
.c-tile--christmas-2013 { border-top-color: var(--colour-subbrand-christmas); }
.c-tile--christmas-2014 { border-top-color: var(--colour-subbrand-christmas); }
.c-tile--christmas-2016 { border-top-color: var(--colour-subbrand-christmas); }
.c-tile--projects { border-top-color: var(--colour-subbrand-projects); }

.c-tile__title {
  margin-top: 0;
  margin-bottom: calc(0.5 * var(--spacing-v));
  font-family: var(--font-headers);
  line-height: 1.2;
}
.c-tile__byline {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
}

.c-tile__standfirst {
  flex: 1;
  margin-top: var(--spacing-v);
  margin-bottom: var(--spacing-v);
}

.c-tile__publisher {
  margin-bottom: var(--spacing-v);
}
