.c-tile {
  min-width: 250px;
  margin: var(--spacing-v) var(--spacing-h);
  padding: var(--spacing-v) var(--spacing-h);
  border-top: 5px solid var(--colour-subbrand-default);
  background-color: var(--colour-background-tile);
}

.c-tile--webdev { border-top-color: var(--colour-subbrand-webdev); }
.c-tile--uoe { border-top-color: var(--colour-subbrand-uoe); }

.c-tile__title {
  margin-top: 0;
  margin-bottom: calc(0.5 * var(--spacing-v));
  line-height: 1.2;
}
.c-tile__byline {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85rem;
}

.c-tile__standfirst {
  margin-top: var(--spacing-v);
  margin-bottom: var(--spacing-v);
}
