.o-media > img {
  max-width: 100%;
}

.o-media--left, .o-media--right {
  max-width: 40%;
}

.o-media--left {
  float: left;
  margin-right: var(--spacing-h);
}

.o-media--right {
  float: right;
  margin-left: var(--spacing-h);
}

.o-media--centre {
  text-align: center;
}

.o-media__caption {
  padding: 0 calc(0.5 * var(--spacing-h));
  font-size: 0.85rem;
  text-align: center;
}
