.o-text-container {
  line-height: 1.4;
  letter-spacing: -0.02rem;
  text-align: justify;
}

.o-text-container > p:first-child { margin-top: 0; }
.o-text-container > p:last-child { margin-bottom: 0; }
